@using System.Security.Claims;
@model BlogR.Core.Data.Entities.Post
<!-- Blog Post -->
<div class="post-preview">
    @if (User.Identity.IsAuthenticated && User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Email).Value == Model.Author.Email)
    {
<p>EDIT</p>}
    <a href="@Url.RouteUrl("Post", new { Slug = Model.Slug })">
        <h2 class="post-title">@Model.Title</h2>
        <h3 class="post-subtitle">@Model.Summary</h3>
    </a>
    <p class="post-meta">
        Posted by <a href="#">@Model.Author.Nickname</a> on @Model.CreationTimeUtc.ToLongDateString()
    </p>
</div>
<hr>